.app-header-component
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    padding: 1rem;
    background-color: lighten(black, 25%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);

    p
    {
        color: white;
        margin-bottom: 0;
    }
}
