.shop-component
{
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: lighten(black, 15%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);

    &.owned
    {
        background-color: lighten(black, 25%);
    }

    &.purchasable
    {
        .button
        {
            color: white;
            background-color: #00a6ef;
        }
    }

    header
    {
        display: flex;
        justify-content: space-between;
    }

    .name
    {
        color: darken(white, 25%);
    }

    .cost
    {
        font-size: 1.15rem;
        color: darken(white, 25%);
    }

    .description
    {
        color: darken(white, 50%);
    }

    .socket
    {
        padding: 0.25rem;
        border-radius: 0.25rem;
        background-color: lighten(black, 10%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35) inset;
    }

    .bar
    {
        height: 2rem;
        border-radius: 0.25rem;
        background: linear-gradient(
            -45deg,
            rgba(255, 255, 255, 0.15) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.15) 50%,
            rgba(255, 255, 255, 0.15) 75%,
            transparent 75%
        ) left/30px 30px repeat-x,
        linear-gradient(to right, #00a6ef 0%, #00efa6 100%) left/var(--p,100%) fixed, lightgray;
        animation: progress 1s linear infinite;

        p
        {
            color: white;
            padding: 0.25rem;
            margin-bottom: 0;
            margin-left: 0.5rem;
        }
    }

    @keyframes progress {
        from {background-position:0 0,left}
        to {background-position:30px 0,left}
    }

    .button
    {
        border: 0;
        font-size: 1rem;
        padding: 0.5rem 2rem;
        color: darken(white, 25%);
        text-transform: uppercase;
        background-color: lighten(black, 25%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
        @include transition(box-shadow 0.5s ease);

        &:hover
        {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
        }
    }
}
