<template>
    <div class="app-header-component">
        <p>Cash: {{ cash }}</p>
    </div>
</template>

<script>
    export default {
        computed: {
            cash() {
                let formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD'
                });

                return formatter.format(this.$store.state.bank.cash);
            }
        }
    }
</script>
