<template>
    <div class="shop-list-component">
        <shop
            v-for="shop in shops"
            :key="shop.id"
            :id="shop.id"
        ></shop>
    </div>
</template>

<script>
    export default {
        computed: {
            shops() {
                return this.$store.state.shops.shops;
            }
        }
    }
</script>
