<template>
    <div class="shop-component" :class="{ owned: shop.owned, purchasable }">
        <header>
            <h3 class="name">{{ shop.name }}</h3>

            <span class="cost">Cost: &#36;{{ cost }}</span>
        </header>

        <p class="description">{{ shop.description }}</p>

        <div class="socket" v-if="shop.owned">
            <div class="bar">
                <p>+&#36;{{ rate }}/sec</p>
            </div>
        </div>

        <button class="button" type="button" v-else @click="purchase">
            Purchase
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                type: Number,
                default: 0
            }
        },

        computed: {
            shop() {
                return this.$store.getters['shops/shop'](this.id);
            },

            purchasable() {
                return this.shop.cost <= this.$store.state.bank.cash;
            },

            cost() {
                let formatter = new Intl.NumberFormat('en-US', {
                    type: 'currency',
                    currency: 'USD'
                });

                return formatter.format(this.shop.cost);
            },

            rate() {
                let formatter = new Intl.NumberFormat('en-US', {
                    type: 'currency',
                    currency: 'USD'
                });

                return formatter.format(this.shop.rate);
            }
        },

        methods: {
            purchase() {
                if (!this.purchasable) return false;

                this.$store.dispatch('shops/purchase', this.id);
            }
        }
    }
</script>
